
{% extends 'AppCoder/inicio.html' %}

{% block head_block %} 
   
    <title>Clientes</title>

{% endblock head_block %}

{% block body_block %}
   
    <h1>Clientes</h1>


    <form action={% url 'Clientes' %} method="GET">
        <input type="text" name='numero' placeholder="Numero a buscar..."/>
        <input type="submit" value="Buscar"/>
    </form>

    <ul>
        {% for cliente in clientes%}
            <li>
                {{cliente}}
            </li>
        {% endfor %}
    </ul>

 {% endblock body_block %}